[submodule "deeplearning1/nbs/data/dogscats"]
	path = deeplearning1/nbs/data/dogscats
	url = git@github.com:huangyingw/dogscats.git
	branch = dev.fix
[submodule "keras"]
	path = keras
	url = https://github.com/fchollet/keras.git
[submodule "scikit-learn"]
	path = scikit-learn
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "Theano"]
	path = Theano
	url = https://github.com/Theano/Theano.git
[submodule "pandas"]
	path = pandas
	url = https://github.com/pandas-dev/pandas.git
[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy.git
[submodule "matplotlib"]
	path = matplotlib
	url = https://github.com/matplotlib/matplotlib.git
[submodule "ai_docker"]
	path = ai_docker
	url = git@github.com:huangyingw/ai_docker.git
